@model AppUser

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-4">
                <div class="card-header">
                    <h4 class="card-title"> Yazar Hakkında </h4>
                </div>
                <div style="display:flex;">

                    <img src="~/UserImages/@Model.ImageUrl" style="width:105px;height:75px;border-radius:50%;" alt="image">
                    <div class="mb-0 flex-grow" style="padding-left:20px;">
                        <h4>@Model.NameSurname - @Model.Email</h4>
                        <p class="mb-0 font-weight-light">@Model.About</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>