
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="~/LoginRegister/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="~/LoginRegister/images/frontImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="~/LoginRegister/images/backImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">GİRİŞ YAP</div>
                    <form method="post" asp-action="Login">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="email" name="email" placeholder="Email adresinizi giriniz">
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Şifrenizi giriniz">
                            </div>
                            <div class="text"><a href="#">Şifremi unuttum?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Giriş Yap">
                            </div>
                            <div class="text sign-up-text">Hesabınız yok mu? <label for="flip">Hemen Kayıt Olun!</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">KAYIT OL</div>
                    <form method="post" asp-action="Register" enctype="multipart/form-data">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="NameSurname" placeholder="Adınız Soyadınızı girin">
                            </div>
                            <br />
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="Mail" placeholder="Email adresinizi giriniz">
                            </div>
                            <br />
                            <div class="input-box">
                                <i class="fas fa-user-plus"></i>
                                <input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adınız">
                            </div>
                            <br />
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="Password" placeholder="Şifrenizi giriniz">
                            </div>
                            <br />
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="ConfirmPassword" placeholder="Şifrenizi Tekrar giriniz">
                            </div>
                            <br />
                            <div class="input-box">
                                <i class="fas fa-file-image"></i>
                                <input type="file" name="img" placeholder="Resminizi Yükleyin">
                            </div>
                            <br />
                            <div class="button input-box">
                                <input type="submit" value="Kayıt Ol">
                            </div>
                            <div class="text sign-up-text">Zaten hesabım var? <label for="flip">Giriş Yap!</label></div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

