@model Blog

@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<!DOCTYPE html>

<html lang="zxx">
<body>
    <!-- Single News Start-->
    <div class="single-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="sn-container">
                        <div class="sn-img">
                            <img src="~/BlogImages/@Model.BlogImage" style="height:525px;width:825px;" />
                        </div>
                        <div class="sn-content">
                            <h1 class="sn-title" style="color:#ff6f61">@Model.BlogTitle</h1>
                            <p>
                                @Model.BlogContent
                            </p>

                        </div>
                    </div>

                         @await Component.InvokeAsync("CommentListByBlog",ViewBag.i)

                    @await Component.InvokeAsync("BlogCommentsAdd",ViewBag.i)
                </div>

                <div class="col-lg-4">
                    <div class="sidebar">

                        @await Component.InvokeAsync("SameCategoryBlogList", @ViewBag.i)

                        @await Component.InvokeAsync("CategoryListAndBlogCount")

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Single News End-->
    <!-- Back to Top -->
</body>

</html>