@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model IPagedList<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<link href="~/inspinia-gh-pages/css/pagedd.css" rel="stylesheet" />
<h1>Kategori Listesi</h1>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@{
    var id = 0;
}
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>SİL</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        id = item.CategoryID;
        <tr>
            <th>@item.CategoryID</th>
            <td>@item.CategoryName</td>
            <td> <a href="/Admin/AdminCategory/CategoryDelete/@item.CategoryID" id="DeleteBtn" onclick="return confirm('@item.CategoryName.ToUpper() kategorisi silinecek. Silmek istediğinize Emin misiniz');" class="btn btn-danger btn-lg">SİL</a>  </td>
            <td> <a href="/Admin/AdminCategory/CategoryUpdate/@item.CategoryID" class="btn btn-primary">Düzenle</a>  </td>


        </tr>

    }

</table>
@{
    var durum = "";
    if (Model.Count() < 7)
    {
        durum = "visibility:hidden";
    }
    else
    {
        durum = "visibility:visible";
    }
}
<div class="pagination" style="justify-content:center;@durum">

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new PagedListRenderOptions
    {
    LinkToPreviousPageFormat = "< Önceki",
    LinkToNextPageFormat = "Sonraki >",
    LiElementClasses = new string[] { "page-item"},
    PageClasses = new string[] {"page-link"}
    })
</div>


@* <a href="AdminCategory/CategoryAdd" class="btn btn-primary">Yeni Kategori</a> *@
@* <a href="/Admin/AdminCategory/CategoryAdd" class="btn btn-primary">Yeni Kategori</a> *@
<a asp-area="Admin" asp-controller="AdminCategory" asp-action="CategoryAdd" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
